#home{
  background-image: url('photos/college.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.blend1{
  background-image: -webkit-linear-gradient(0deg, #ff0000 0%, #ffff00 100%);
}
.blend2{
  background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);;
}
.aboutme{
  background-color: #f2f2f2;
  padding: 10%;
  margin-top: 20%;
  line-height: 250%;
}
.section{
  background-color: #f2f2f2;
  padding: 10%;
  line-height: 250%;
}

.text{
  text-align: center;
  font-size: 50px;
  color: white;
}

.background-img3{
  background-color:#e9ecef;
  padding:0.0008% 0.0008%;
}
.background-img4{
  background-color:white;
  padding:0.0008% 0.0008%;
}
.about{
  text-align: center
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
}
.center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*Background*/

/*Home-Page Title Styles*/
.title-part{
  color: white;
  margin-top: 20%;
  margin-left: 10%;
  text-align: center;
}
.title-part {
  font-size: 1000px;
  border-bottom-style: solid;
  font-family: "Open Sans Condensed", sans-serif;
  color: white;
  text-align: center;
}
.title-part1 {
  font-size: 350%;
  border-bottom-style: solid;
  font-family: "Open Sans Condensed", sans-serif;
  margin-top: 5%;
  color: white;
  text-align: center;
}
/*Home-Page Project Styles*/



.projects-home{
  margin-top: 20%;
  background-color: #f2f2f2;
  padding: 5%;
}
.card-title{
  font-family: "Raleway", sans-serif;
  font-style: italic;
}
.card-body{
  font-family: "Raleway", sans-serif;
}
.title{
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.day30{
  color: white;
  margin-top: 20%;
  text-align: center;
  font-size: 500%;
  border-bottom-style: solid;
  font-family: "Open Sans Condensed", sans-serif;
}
.title-part-about{
  color: white;
  margin-top: 28%;
  margin-left: 40%;
  text-align: center;
    font-size: 1000px;
  border-bottom-style: solid;
  font-family: "Open Sans Condensed", sans-serif;
}
.card{
  margin-top: 5%;
}
.scratch{
  margin-top: 10%;
}
.bird{
  margin-top: 6%;
}
/*About Me Page Styles*/
.about-content{
  background-color: #f2f2f2;
  margin-top: 20%;
  padding: 5%;
}
.about-content h1{
  font-family: "Raleway", sans-serif;
}
.about-content p{
  font-family: "Raleway", sans-serif;
}
.about{
  font-size: 1.3em;
}
.subtitle{
  font-style: italic;
  color: gray;
}
/*Resume Styles*/
.title-part-resume{
  color: white;
  margin-top: 20%;
  margin-left: 10%;
  text-align: center;
}
.title-part-resume h1{
  font-size: 350%;
  border-bottom-style: solid;
  font-family: "Open Sans Condensed", sans-serif;
}
.resume{
  background-color: #f2f2f2;
  padding: 10%;
  margin-top: 20%;
  line-height: 250%;
}
.resume h4{
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}
.resume li{
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
}
.resume p{
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
}
.resume h1{
  font-family: "Raleway", sans-serif;
  font-size: 3em;
}
/*Project Styles*/
.title-part-projects{
  color: white;
  margin-top: 20%;
  margin-left: 10%;
  text-align: center;
}
.title-part-projects h1{
  font-size: 350%;
  border-bottom-style: solid;
  font-family: "Open Sans Condensed", sans-serif;
}
.content{
  background-color: #f2f2f2;
  padding: 5%;
}
.content h1{
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  margin-left: 8%;
}
/*Contact Styles*/
.title-part-contact{
  margin-top: 10%;
  margin-left: 10%;
  text-align: center;
}
.title-part-contact h1{
  font-size: 350%;
  border-bottom-style: solid;
  font-family: "Open Sans Condensed", sans-serif;
}
.contact-content{
  font-family: "Raleway", sans-serif;
}
/*Footer Styles*/
footer li img {
  width: 32px;
  height: 32px;
}

footer {
  font-size: 12px;
  padding: 8%;
  padding-bottom: 4%;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li{
    margin-right: 2%;
    margin-left: 2%;
}
footer{
  background-color: white;
}
.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(205, 205, 205, 0.8);
}
.card:hover .overlay{
    opacity: 1;
}
p.big {
  line-height: 1.8;
}
body {
	overflow-x: hidden;
}
.nav1 {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	opacity: 1000;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.7s;
}
.nav1 a {
	display: block;
	padding: 20px 30px;
	font-size: 25px;
	text-decoration: none;
	color: #ccc;
}
.nav1 a:hover {
	color: #fff;
	transition: 0.4s;
}
.nav1 .close {
	position: absolute;
	top: 0;
	right: 22px;
	margin-left: 50px;
	font-size: 30px
}
.slide a {
	color: white;
	font-size: 36px;
}
#content {
	padding: 20px;
	transition: margin-left 0.7s;
	overflow: hidden;
	width: 100%;
}





















